[
    {
        "zone" : "yourdomain.com",
        "host" : "host",
        "key_id" : "<API key ID>",
        "secret" : "<API key secret>",
        "type": "A"
    },
    {
        "zone" : "yourdomain.com",
        "host" : "host",
        "key_id" : "<API key ID>",
        "secret" : "<API key secret>",
        "type": "AAAA"
    }
]